.text{
    font-family: 'Montserrat', sans-serif;
    background-color: #6D7F99;
    width: 85%;
    height:70vh;
    border-radius: 2rem;
    padding: 2rem;
    margin: auto;
    margin-top: 4%;
}
.about{
    color: #ffffff;
    font-size: 2.5rem;
    margin: auto;
    margin-top: 2rem;
    margin-left: 2rem;
}
.pText{
    color: #ffffff;
    font-size: 1.5rem;
    width: 60%;
    margin-left: 2rem;
    margin-top: auto;
}
