.iconCont{
    background-color: #add8e6;
    width: 83%;
    height: 65vh;
    border-radius: 2rem;
    padding: 2rem;
    margin: auto;
    margin-top: 9%;
}

.icons{    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2rem;
}
.front{
    margin-top: 1rem;
}
.back{
    margin-top: 3rem;
}
.otros{
    margin-top: 3rem;
}
.icons img:hover {
    transform: scale(1.2);
  }