.recuadro {
  position: absolute;
  top: 27.5%;
  left: 60%;
  border: 1rem solid #FFEFD6;
  border-radius: 2rem;
  box-sizing: border-box;
  height: 27rem;
  width: 27rem;
  z-index: 0;
  background-color: #add8e6;
}
.recuadro2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1rem solid #FFEFD6;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 23rem;
  width: 23rem;
  z-index: 0;
  background-color: #add8e6;
}


.imgYo {
  position: relative;
  z-index: 1;
}

.imgYo img {
  height: 45rem;
  display: block;
  margin-top: -8rem;
  margin-left: -2.5rem;
}