.recuadro {
  position: absolute;
  top: 45%;
  left: 77%;
  transform: translate(-50%, -50%);
  border: 1rem solid #ffefd6;
  border-radius: 1.5rem;
  box-sizing: border-box;
  height: 23rem;
  width: 27rem;
  z-index: 0;
  background-color: #add8e6; 
}

.imgYo {
  position: relative;
  z-index: 1;
}

.imgYo img {
  height: 41rem;
  display: block;
  margin-top: -5.7rem;
  margin-left: -1rem;
}

.button {
  margin-top: -23%;
  margin-left: 30%;
}

.download_button {
  position: relative;
  border-width: 0;
  color: white;
  background-color: #242a35;
  border: solid 3px white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  z-index: 1;
}

.download_button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download_button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 85%;
  margin: 0 auto;
  margin-top: 1.5px;
  z-index: -1;
  border-radius: 6px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download_button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
