.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b6e85;
}

.h1Landing, .pLanding, .imgLand, .line {
  position: absolute;
}

.h1Landing {
  color: #FFEFD6;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  left: 61%;
  top: 48%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.pLanding {
  color: #FFEFD6;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  left: 38%;
  top: 53%;
  white-space: nowrap;
}

.imgLand{
  left: 22%; 
  top: 36%; 
  transform: translate(-50%, -50%); 
}

.line{
  top: 61%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%; 
  border-bottom: 0.2rem solid white;
}
.goPorfolio{
  background-color: transparent;
  width: 10rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFEFD6;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 3px solid #FFEFD6;
  border-radius: 2rem;
  border-color: FFEFD6;
  margin: 1rem;
  margin-top: 20rem;
  margin-left: 60rem;
}

.goPorfolio:hover{
  cursor: pointer;
  background-color: #fcd6ff;
  color: #ea3bd8;
}